* {
    font-family: Arial, Helvetica, sans-serif;
} 
.imagen .image {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: 200px; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    position: relative;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Ajusta la duración y el efecto de transición según tus necesidades */
  }
  
  .image:hover img {
    transform: scale(1.1); /* Ajusta el factor de escala según tus necesidades */
  }

.modificar {
    width: 600px; 
    height: 300px;
    margin-top: 50px;
}
nav {
    position: relative; 
    left: 70%;
    top: -420px;
    display: inline;   

}

nav a {
    background-color: blue;
    padding: 5px;
    position: relative;
    border: black solid 1cap;
    box-shadow: 2px 2px black;
    color: aliceblue;
    text-decoration: none;
}
